@keyframes rotating {
	100% {transform: rotate(360deg);}
}
@-webkit-keyframes rotating {
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotating {
	100% {-moz-transform:rotate(360deg);}
}
@-o-keyframes rotating {
	100% {-o-transform: rotate(360deg);}
}
@-ms-keyframes rotating {
	100% {-ms-transform: rotate(360deg);}
}

.App {
  padding-top: 20px;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 26px;
}

.list-item {
  display: inline-block;
}

.searchResult {
  padding-top: 1em;
  margin-bottom: 3em;
}

.searchHistoryList {
  margin-bottom: 1em;
}

.main-footer {
  padding: 5%;
}

.loaderIcon {
  animation: rotating 1.6s infinite;
  -webkit-animation: rotating 1.6s infinite;
  -moz-animation: rotating 1.6s infinite;
  -o-animation: rotating 1.6s infinite;
  -ms-animation: rotating 1.6s infinite;
  font-size: 1.5em;
  color: green;
}

.cf {
  clear: both;
}
